.App {
  text-align: center;
}
.search-div{
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  position: relative
}
.search_input{
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #e5e5ef;
  background-color: #e5e5ef;
  font-weight: bold;
  border-radius: 8px;
}
.search_input:focus{
  
outline: none;  
}